
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    margin-top: 1em;
    /* padding-top: 10px; */
}

.line-break{
    border: 0.5px solid black;
}

h3 {
    color: darkorchid;
}